<div class = "center">
<h1>Step 1</h1>
</div>
<%= form_for (@timetable) do |f| %>
<div>

<% if @timetable.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@timetable.errors.count,"error") %>
			prohibited this lecture from being saved:
		</h2>	
		<p>There were problems with the following fields</p>
		<ul>
		<% @timetable.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end%>		
		</ul>
	</div>>
<% end %>

	<%= f.label :From %>  
	<%=	f.text_field :timestarted %>
	<%= f.label :To %>
	<%=	f.text_field :endtime %>
	<%= f.label :Day %>
	<%=	f.text_field :day %>
	<%= f.label :Lecture %>
	<%=	f.text_field :lecture %>
</br>
	<%= f.submit "Add lecture" ,class: "btn btn-large btn-primary" %><br />
</div>
<% end %>
