<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @schedule.day %>
</p>

<p>
  <b>Lecture:</b>
  <%= @schedule.lecture %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
