<% if !fbcurrent_user %>
	<div class="center">
	<%= image_tag "homepage.jpg" %>
	</div>
<% else %>
<h1>Welcome, <%= fbcurrent_user.name %></h1>	
<h5><%= Time.now %></h5><br/><br/><br/>
<table>
  <tr>
    <th>Today is <%= Date.today%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @current_schedule.each do |schedule| %>
	<%if schedule.day==Date.today.wday.to_s()%>
	  <tr>
  	  <td><%= schedule.lecture %></td>
	    <td><%= button_to 'Add to bunked list',{:controller => "bunklists",:action => "create",:schedule_id => schedule} %></td>
  	</tr>
	<% end %>
<% end %>
</table>
<br />
<h3>Note:<h4>The App is under contruction....so kindly ignore errors...</h4></h3><br/>
<% end %>

