<% if !signed_in? %>
	<div class="center">
	<h1>Welcome to the BunkSheet</h1>
	<h2>Just sign up and Keep track of your Bunked Lectures</h2>
	<p>If You want to look inside without creating new account </br>
		 Use following details for login..!!!</br>
		 Email id => ab@gmail.com</br>
		 Password => 123456		
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% else %>

<h1>Welcome, <%= @current_user.name %></h1>	
<h5><%= Time.now %></h5><br/><br/><br/>
<table>
  <tr>
    <th>Today is <%= Date.today%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @current_schedule.each do |schedule| %>
	<%if schedule.day==Date.today.wday.to_s()%>
	  <tr>
  	  <td><%= schedule.lecture %></td>
	    <td><%= button_to 'Add to bunked list' %></td>
  	</tr>
	<% end %>
<% end %>

</table>
<br />

<% end %>

