<!DOCTYPE html>
<html>
	<head> 	
  	<title> <%= title %> </title>
			<%= render 'layouts/stylesheets'%>
			<link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
			<%= javascript_include_tag "application" %>
			<%= javascript_include_tag :all %>
			<%= javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js", "application" %>
			<%= javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-combobox.js", "application" %>
			<%= csrf_meta_tag %>
	</head> 
<body>
    <%= render 'layouts/header'%>	
		<div class=container>
			<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
			<% end %>		
		<div class="span8">
			<%= yield %>
		</div>
		<div class="span3 right sidebar">
    <%= render 'layouts/sidebar'%>	
		</div>
		</div>
		<div class="container">
			<%= render 'layouts/footer'%>
		<br/>
		<br/>
		<br/>
		<br/>
		<%= debug(params) if Rails.env.development? %>
	
		</div>
</body>
</html>
